.navbar_container {
    background: #55d6aa;
    border: 1px solid #55d6aa;
    display: flex;
    justify-content: space-between;
    height: 70px;
    /* align-items: center; */
}

.empty_div {
    width: 15%;
}

/* .logo_container {
    display: flex;
} */

.logo {
    /* position: absolute; */
    /* width: 100%; */
    /* border: 1px solid black; */
    padding-left: 30px;
}

nav ul {
    list-style: none;
    padding-right: 10px;
    padding-top: 5px;
}

nav li {
    display: inline-block;
    margin-left: 25px;
}

nav * {
    text-decoration: none;
}

.link {
    background-image: linear-gradient(90deg, #333, #333);
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 300ms ease;
}

.link:hover {
    background-size: 100% 3px;
}